#btn-mobile{
    display: block;
}

#menu{
    display: block;
    display: none;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background-color: #e7e7e7;
    height: calc(100vh - 70px);
    z-index: 1000;
}

#nav.active #menu{
    display: flex;

}
